@font-face {
  font-family: "Helvetica";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --light-grey: #cacad6;
  --white: #f6f4f5;
  --btn-white: #E9E7EA;
  --grey: #5c5c5e;
  --black: #070707;
  --background: #C8C8C8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--grey);
  background-color: var(--white);
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section- title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
}

.header {
  border-bottom: 1px solid var(--light-grey);
}

.header__nav {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  margin-right: 20px;
}

.header__logo {
  justify-self: center;
}

.header__basket {
  justify-self: end;
  position: relative;
}
.header__basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: var(--white);
  width: 16px;
  height: 16px;
  background-color: var(--grey);
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 12px;
  z-index: 2;
}
.header__basket.header__basket-empty span {
  display: none;
}

.hero {
  height: calc(100vh - 81px);
  background: url("../../images/hero-bg.jpg") no-repeat bottom center;
  background-size: cover;
}
.hero__title {
  padding-top: 14%;
  font-size: 96px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}
.hero__text {
  font-size: 13px;
  margin-bottom: 50px;
}
.hero__btn {
  cursor: pointer;
  border: none;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--grey);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  color: inherit;
  display: flex;
  padding: 1px;
}
.hero__btn-text {
  font-size: 16px;
  font-weight: 600;
  color: #E9E7EA;
  padding: 20px 110px;
}
.hero__btn-price {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--btn-white);
  padding: 20px 105px;
}
.hero__text-buy {
  font-size: 13px;
}

.features {
  padding: 100px 0;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  max-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 2px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs__btn-item {
  font-weight: 700;
}

.tabs__btn-item.tabs__btn-item--active {
  color: var(--black);
}

.tabs__btn-item:not(:last-child) {
  margin-bottom: 20px;
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in;
}
.tabs__content-item.tabs__content-item--active {
  opacity: 1;
}

.tabs__content-image {
  grid-row: 1/-1;
  align-self: stretch;
}

.tabs__content-box h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
}

.video {
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background: url("../../images/tabs/tabs-content-1-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
}
.video .video__btn {
  width: 50px;
  height: 50px;
  margin-left: 22px;
  margin-bottom: 9px;
}
.video span {
  color: var(--white);
  font-size: 13px;
}

.games {
  margin-bottom: 100px;
}

.games__title {
  margin-bottom: 50px;
}

.games__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.games__description {
  padding-right: 10px;
}

.games__description-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games__description-text {
  margin-bottom: 24px;
}

.games__link {
  display: inline-block;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 15px 12px;
  width: 225px;
  text-align: center;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}

.games__item {
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
}

.games__item-img {
  margin-bottom: 10px;
}

.games__item-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
}

.games__item-text {
  margin-bottom: 30px;
}

.games__item-link {
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

.buy {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.buy__img {
  margin-bottom: 30px;
}

.buy .hero__btn {
  margin: 0 auto;
}

.buy__bg {
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  animation: line-text 6s linear 1s infinite;
}

@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-115%);
    transform-origin: right center;
  }
}
.equipment {
  margin-bottom: 100px;
}

.equipment__title {
  margin-bottom: 50px;
}

.equipment__box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.equipment__box-img {
  margin-bottom: 10px;
}

.equipment__box-title {
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
}

.equipment__box-item--one {
  grid-row: 1/-1;
}

.promo {
  margin-bottom: 100px;
}

.promo__inner {
  background: url("../../images/promo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  position: relative;
}

.promo__btn {
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.accessories {
  margin-bottom: 100px;
}

.accessories__title {
  margin-bottom: 30px;
}

.accessories__text {
  margin-bottom: 30px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-transform: uppercase;
}

.accessories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
  padding: 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accessories__item-img {
  margin-bottom: 10px;
}

.accessories__item-title {
  font-size: 24px;
  color: #070707;
  min-height: 67px;
}

.accessories__item-text {
  margin-bottom: 35px;
  margin-top: auto;
}

.accessories__item-price {
  font-weight: 700;
  color: #070707;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: auto;
}

.accessories__item-buy {
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 6px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
  width: 100%;
}/*# sourceMappingURL=style.css.map */