.accessories {
    margin-bottom: 100px;
}

.accessories__title {
    margin-bottom: 30px;
}
.accessories__text {
    margin-bottom: 30px;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-size: 36px;
    text-transform: uppercase;
}
.accessories__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.accessories__item {
    padding: 20px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accessories__item-img {
    margin-bottom: 10px;
}
.accessories__item-title {
    font-size: 24px;
    color: #070707;
    min-height: 67px;
    // flex-grow: 1;
}
.accessories__item-text {
    margin-bottom: 35px;
    margin-top: auto;
}
.accessories__item-price {
    font-weight: 700;
    color: #070707;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: auto;
}
.accessories__item-buy {
    border: 1px solid;
    border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
    padding: 6px;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 700;
     text-align: center;
     width: 100%;
     //margin-top: auto;
}