.hero {
    height: calc(100vh - 81px);
    background: url("../../images/hero-bg.jpg") no-repeat bottom center;
    background-size: cover;
    
      &__title {
            padding-top: 14%;
            font-size: 96px;
            font-weight: 400;
            margin-bottom: 10px;
      }

      &__subtitle {
            font-size: 36px;
            margin-bottom: 5px;
      }

      &__text {
            font-size: 13px;
            margin-bottom: 50px;
      }

      &__btn {
            cursor: pointer;
            border: none;
            padding: 0;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: var(--grey);
            background: linear-gradient(180deg, #BC10D8 0%,
                        rgba(80, 0, 250, 0.93) 100%);
            color: inherit;
            display: flex; 
            padding: 1px;
      }

      &__btn-text {
            font-size: 16px;
            font-weight: 600;
            color: #E9E7EA;
            padding: 20px 110px;
      }

      &__btn-price {
            font-size: 16px;
            font-weight: 600;
            background-color: var(--btn-white);
            padding: 20px 105px;
      }

      &__text-buy {
            font-size: 13px;
      }
}
