.features {
    padding: 100px 0;
}

.features__titles {
    display: flex;
}

.features__title {
    flex-basis: 300px;
    padding-right: 20px;
}

.features__text {
    max-width: 330px;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 2px;

    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabs {
    display: grid;
    grid-template-columns: 300px auto;
}

.tabs__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tabs__btn-item {
    font-weight: 700;
}

.tabs__btn-item.tabs__btn-item--active {
    color: var(--black);
}

.tabs__btn-item:not(:last-child) {
    margin-bottom: 20px;
}

.tabs__content {
    position: relative;
    min-height: 300px;
}

.tabs__content-item {
    display: grid;
    grid-template-columns: auto 280px;
    grid-template-rows: auto 150px;
    gap: 40px;

    opacity: 0;
    position: absolute;
 
    transition: opacity .3s ease-in;

    &.tabs__content-item--active {
        opacity: 1;
    }
}

.tabs__content-image {
    grid-row: 1/-1;
    align-self: stretch;
    object-fit: cover;
}

.tabs__content-box {

    h3 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;
    }
}

.video {
    grid-column: 2/3;
    width: 280px;
    height: 150px;
    background: url("../../images/tabs/tabs-content-1-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 9px 10px;

    .video__btn {
        width: 50px;
        height: 50px;
        margin-left: 22px;
        margin-bottom: 9px;
    }

    span {
        color: var(--white);
        font-size: 13px;
    }
}

@media(max-width: 992px) {
    .tabs {
        display: block;
    }
    .tabs__btn {
        display: block;
        column-count: 2;
    }
    .tabs__btn-item {
        display: block;
    }
}

@media(max-width: 568px) {
    .features__title {
        display: block;
    }
    .tabs__content-item {
        display: block;
        height: 0;
        position: relative;
    }
    .tabs__content-item--active {
        height: auto;
    }
    .video {
        margin-top: 20px;
        width: auto;
        height: 250px;
    }
}

@media(max-width: 420px) {
    .features__text {
        font-size: 32px;
    }
    .tabs__btn {
        column-count: 1;
    }
}
